<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>user dashboard</title>
    <link rel="stylesheet" href="/css/user/userdashboardcss.css">
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <h2>SUSTAINABLE LIVING PRACTICES</h2>
            </div>
            <ul class="nav-links">
                <li><a href="#">ABOUT US</a></li>
                <li><a href="/usercourse">COURSE</a></li>
                <li><a href="/userproject">PROJECTS</a></li>
                <li><a href="#">CONTACT</a></li>
            </ul>
            <div class="auth-buttons">
                <a href="/" class="login-btn">logout</a>
            </div>
        </nav>
    </header>
    <main>
        <h1>Hi my friend how are you ✨</h1>
        <br>
        <h1>welcome back you have a lot of work to do my friend </h1>
    </main>

    
    
</body>
</html>