* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f7e8; /* Light background for the overall page */
    color: #333; /* Default text color */
}

header {
    background-color: #ffffff; /* White background for the header */
    padding: 15px 50px; /* Padding for spacing */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

nav {
    display: flex; /* Flexbox for layout */
    justify-content: space-between; /* Space between elements */
    align-items: center; /* Center align vertically */
}

.logo h2 {
    font-size: 1.5rem; /* Logo font size */
    color: #2f4833; /* Logo color */
}

.nav-links {
    list-style: none; /* No bullet points for list */
    display: flex; /* Flexbox for horizontal layout */
}

.nav-links li {
    margin-left: 25px; /* Spacing between navigation items */
}

.nav-links a {
    text-decoration: none; /* Remove underline from links */
    color: #333; /* Link color */
    font-weight: bold; /* Bold text for links */
}

.auth-buttons {
    display: flex; /* Flexbox for layout */
}

.auth-buttons .login-btn {
    background: linear-gradient(45deg, #a27aff, #72e3e0); /* Gradient background */
    padding: 8px 20px; /* Padding for button */
    border-radius: 20px; /* Rounded corners */
    color: white; /* Button text color */
    font-weight: bold; /* Bold text */
    text-decoration: none; /* Remove underline */
}


main{
    height: 80dvh;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}


/* h1 {
    text-align: center;
    margin-bottom: 30px;
  } */
  
  .course {
    display: flex;
    margin-bottom: 30px;
  }
  
  .course img {
    width: 300px;
    height: 200px;
    object-fit: cover;
  }
  
  .course-details {
    padding: 20px;
  }

  

main h1{
    margin-left: 40px;
}
section{
    margin-left: 40px;
    transition: all .5s ease;
    width: 40%;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    section{
        /* border: 2px outset black; */
        box-shadow: 5px 5px 10px black
    }
}

.buffer{
    width: 40%;
    height: 200px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.ani{
    animation: bufferani .5s linear 2s infinite alternate;
}

@keyframes bufferani {
    from{
        opacity: .2;
    }
    to{
        opacity: 1;
    }
}