<!DOCTYPE html>
<html>
<head>
    <title>Forgot Password</title>
    <link rel="stylesheet" href="/css/forgotpasswordcss.css">
</head>
<body>
<div class="top-box">
    <h2>O O O</h2>
</div>
<div class="login-container">
    <h1>Forgot Password</h1>
    <p>New password</p>
    <form>
        <label for="email">EMAIL</label>
        <input type="email" id="email" placeholder="hello@reallygreatsite.com" required>
        <button type="submit" class="login-btn">send</button>
    </form>
    
</body>
</html>